# Busy pins are on the left and right
# Inputs: ui_in[7:0]
# Outputs: uo_out[7:0]
# Bidirs: uio_in[7:0], uio_out[7:0], uio_oe[7:0]

# Pins on the top
$clk
$rst_n
$ena

# Pins on the bottom
# ui_in[7:0]
# uo_out[7:0]
# uio_in[7:0]
